/* Imports */

/* _______________________________________________________________ */

/* Resets */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* _______________________________________________________________ */

/* Variables */
:root {
}
/* _______________________________________________________________ */

/* Main CSS */

/* _______________________________________________________________ */
/* Media Queries */
@media() {
}
/* _______________________________________________________________ */
